.events-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 20px ;
  gap: 30px;
  border-top: 1px solid #c8c8c8;
}

.event-item {
  padding: 10px;
  width: 150px;
  border: 2px solid #316bfe;
  border-radius: 5px;
  position: relative;
  background-color: #ecf1ff;
}

.event-item::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: -30px;
  background-color: #316bfe;
  border-radius: 50%;
  z-index: 1;
}

.event-item::before {
  content: '';
  position: absolute;
  height: 13px;
  width: 1px;
  top: -15px;
  left: 17px;
  background-color: #316bfe;
  z-index: 1;
}

.description {
  margin: 0;
  padding: 0;
}