@import "../../styles/utils/reset";
@import "../../styles/utils/vars";
@import "../../styles/fonts/typography.scss";

.events-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 20px ;
  gap: 30px;
  border-top: 1px solid $primary-gray-color;
}

.event-item {
  padding: 10px;
  width: 150px;
  border: 2px solid $accent-color;
  border-radius: 5px;
  position: relative;
  background-color: $light-blue-color;
}

.event-item::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: -30px;
  background-color: $accent-color;
  border-radius: 50%;
  z-index: 1;
}

.event-item::before {
  content: '';
  position: absolute;
  height: 13px;
  width: 1px;
  top: -15px;
  left: 17px;
  background-color: $accent-color;
  z-index: 1;
}

.title {
  @include regular-text;
  margin-bottom: 5px;
}

.description {
  @include light-text;
  font-size: 0.7em;
}