@import "../../styles/fonts/typography.scss";
@import "../../styles/utils/vars";

.timeline {
  display: flex;
  border: 3px dashed $accent-color;
  overflow-x: auto;
}

.details {
  display: flex;
  max-width: fit-content;
  min-width: 200px;
  flex-direction: column;
  flex: 0 0 auto; 
  border-right: 1px solid $primary-gray-color;
}

.timeline::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #d6d6d6; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $accent-color; 
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  @include medium-text;
  text-transform: uppercase;
}
