.timeline {
  display: flex;
  border: 3px dashed #316bfe;
  overflow-x: auto;
}

.details {
  display: flex;
  max-width: fit-content;
  min-width: 200px;
  flex-direction: column;
  flex: 0 0 auto; 
  border-right: 1px solid #c8c8c8;
}

.details::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #d6d6d6; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #316bfe; 
}

.title {
  text-align: center;
}
